<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/public/favicon.ico">
    <title>hello-world</title>
    <script defer="defer" src="/public/js/chunk-vendors.b1d08143.js"></script>
    <script defer="defer" src="/public/js/app.5ebeac9d.js"></script>
    <link href="/public/css/chunk-vendors.0b0c58b7.css" rel="stylesheet">
    <link href="/public/css/app.b2d625b8.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but hello-world doesn't work properly without JavaScript enabled. Please enable it
            to continue.</strong></noscript>
    <div id="app"></div>
</body>

</html>